
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_FinanceLayout.cshtml";
}

<h2>Product</h2>

<div class="MainContent floatright">
    <!--<div class="Banner">
        <div class="blueberry">
          <ul class="slides">
            <li><img src="images/banner/kathmandufinance_business_saving_banner.jpg" /></li>
            <li><img src="images/banner/kathmandufinance_women_saving_banner.jpg" /></li>
          </ul>
        </div>
    </div>-->

    <div class="BreadCrumb">
      
        @Html.ActionLink("Product", "Product", "Home")
   
    </div>

    <div class="Landing">
        <h1>Remittance</h1>
        <!--<img src="http://www.gurkhasfinance.com.np/assets/images/about_img.png" alt="" class="floatright" />-->
        <div class="clearfix">
            <div class="Widget" style="width:250px; float:right;">
                <div class="BoxHead">
                    Useful Links
                </div>
                <div class="BoxContent">
                    <ul class="Arrow">
                        <li>
                            <a href="http://www.gurkhasfinance.com.np/services/life_insurance/life-insurance">Insurance</a>
                        </li>
                        <li>
                            <a href="http://www.gurkhasfinance.com.np/services/remittance/remittance">Remittance</a>
                        </li>
                        <li>
                            <a href="http://www.gurkhasfinance.com.np/aboutus/capital_structure/capital-structure">Capital Structure</a>
                        </li>
                        <li>
                            <a href="http://www.gurkhasfinance.com.np/gallery">Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
            <p></p><p>
                Gurkhas Finance Limited is operating safest and secured means of money transfer through our authorized official agent mentioned below under the procedure set by The Government of Nepal and Nepal Rastra Bank. Money can be send and receive from any part of the world using our authorized agent’s software.
            </p>
            <br>
            <h4 style="width:490px;">
                <strong>Features:</strong>
            </h4>
            <ul class="Arrow" style="width:490px;">
                <li>
                    &nbsp;Real time transaction processing
                </li>
                <li>
                    &nbsp;Fast and reliable service
                </li>
                <li>
                    &nbsp;Competitive service charge
                </li>
                <li>
                    &nbsp;Dedicated and Experienced staffs
                </li>
            </ul>
            <br>
            <h4>
                <strong>Our authorized official agents:</strong>
            </h4>
            <ul class="Arrow">
                <li>
                    Western Union Money Transfer
                </li>
                <li>
                    Nabil Remit
                </li>
                <li>
                    <div>
                        Prabhu Remit
                    </div>
                </li>
                <li>
                    <div>
                        Best Remit
                    </div>
                </li>
                <li>
                    <div>
                        Reliable Remit
                    </div>
                </li>
                <li>
                    <div>
                        City express
                    </div>
                </li>
                <li>
                    <div>
                        Money Gram
                    </div>
                </li>
                <li>
                    <div>
                        IME
                    </div>
                </li>
                <li>
                    <div>
                        Himal Remit
                    </div>
                </li>
                <li>
                    <div>
                        <div>
                            Yes Remit
                        </div>
                    </div>
                </li>
            </ul>
            <p>
                &nbsp;
            </p>
            <p></p>


        </div>

    </div>
</div>
</div>